# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.env.production

# Database
*.db
*.db-*
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# WeChat
miniprogram/node_modules/
miniprogram/.tea/
